@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --white-color: hsl(0, 0%, 95%); /* to be used for body background, headings and buttons */
    --white-par: hsla(0, 0%, 100%, 0.75); /* to be used for paragraphs */
    --sedans-color: hsl(31, 77%, 52%);
    --suvs-color: hsl(184, 100%, 22%);
    --luxury-color: hsl(179, 100%, 13%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 80px;
    width: 100%;
    height: 100%;
}

h1 {
    color: var(--white-color, white);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 40px;
}

p {
    color: var(--white-par, white);
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 70px;
}

button {
    border: none;
    padding: 12.5px 25px;
    border-radius: 25px;
    width: 70%;
}

.light-gray {
    background-color: var(--white-color, white);
}

.text {
    font-family: 'Lexend Deca', sans-serif;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px;
}

#flex-container {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    width: 925px;
    height: 100%;
}

#sedans {
    background-color: var(--sedans-color);
}

#sedans button {
    color: var(--sedans-color);
}

#suvs {
    background-color: var(--suvs-color);
}

#suvs button {
    color: var(--suvs-color);
}

#luxury {
    background-color: var(--luxury-color);
}

#luxury button {
    color: var(--luxury-color);
}

@media screen and (max-width: 375px) {

    body {
        padding: 0;
    }

    p {
        margin-bottom: 25px;
    }

    #flex-container {
        display: flex;
        flex-direction: column;
        margin: 100px auto;
        width: 85%;
    }

}